<%
var count = yield $Topic.getTopicsCount($this.query.tab);
var pages = Math.ceil(count / 10);
var page = +$this.query.p || 1;
var tab = $this.query.tab || '';
var times = [page - 2, page - 1, page, page + 1, page + 2];
var prePage = '?tab=' + tab + '&p=' + (page - 1);
var nextPage = '?tab=' + tab + '&p=' + (page + 1);
%>


<div class="ui pagination menu">
    <% if (page && page > 1){ %>
    <a href="?tab=<%= tab %>&p=<%= page - 1 %>" class="icon item">
        <i class="left arrow icon"></i>
    </a>
    <% } %>

    <% items.forEach(function (item) { %>
    <% if (item && (item > 0) && (item <= pages) && (page > 1)){ %>
    <a href="?tab=<%= tab %>&p=<%= item %>" class="item <%= (page == item ) ? "active" : '' %>"><%= item %></a>
    <% } %>
    <% }) %>

    <% if (page && page < pages){ %>
    <a href="?tab=<%= tab %>&p=<%= page + 1 %>" class="icon item">
        <i class="right arrow icon"></i>
    </a>
    <% } %>

</div>
